openapi: 3.2.0
info:
  title: dLocal For Platforms Transfers API
  version: '2.0'
  description: 'The dLocal for Platforms (marketplace) API onboards and manages

    sub-merchant accounts, performs KYC, manages bank accounts, settles

    transfers between accounts, and reports balances. Used by

    marketplaces and platforms that hold funds on behalf of sub-users.

    '
servers:
- url: https://marketplace-api.dlocal.com
  description: Production
- url: https://marketplace-api.dlocal-sbox.com
  description: Sandbox
security:
- bearerAuth: []
tags:
- name: Transfers
  description: Settle and transfer between accounts.
paths:
  /v2/transfers:
    post:
      tags:
      - Transfers
      operationId: createTransfer
      summary: Create A Transfer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - from_account
              - to_account
              - amount
              - currency
              properties:
                from_account:
                  type: string
                to_account:
                  type: string
                amount:
                  type: number
                currency:
                  type: string
                description:
                  type: string
      responses:
        '201':
          description: Transfer created
  /v2/transfers/{transfer_id}:
    get:
      tags:
      - Transfers
      operationId: getTransfer
      summary: Get A Transfer
      parameters:
      - name: transfer_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Transfer returned
  /v2/transfers/{transfer_id}/cancel:
    post:
      tags:
      - Transfers
      operationId: cancelTransfer
      summary: Cancel A Transfer
      parameters:
      - name: transfer_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Transfer cancelled
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
