openapi: 3.2.0
info:
  title: dLocal Payouts V3 Quotes API
  version: '3.0'
  description: 'Disburse funds to beneficiaries in emerging markets via local bank

    transfers, instant payments, mobile money, cards, and cash pick-up.

    Payouts V3 uses OAuth2 Bearer tokens for authentication (rather than

    the HMAC signature scheme used by Payins).

    '
  contact:
    name: dLocal Support
    url: https://docs.dlocal.com/
servers:
- url: https://api.dlocal.com
  description: Production
- url: https://sandbox.dlocal.com
  description: Sandbox
security:
- bearerAuth: []
tags:
- name: Quotes
  description: Lock in an FX quote before requesting a payout.
paths:
  /payouts/v3/quotes:
    post:
      tags:
      - Quotes
      operationId: createQuote
      summary: Create A Quote
      description: Generate an FX quote for a payout amount that locks the exchange rate.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QuoteRequest'
      responses:
        '200':
          description: Quote created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Quote'
components:
  schemas:
    QuoteRequest:
      type: object
      required:
      - country
      - amount
      - currency
      properties:
        country:
          type: string
        amount:
          type: number
        currency:
          type: string
        currency_to_pay:
          type: string
        payment_method_id:
          type: string
    Quote:
      type: object
      properties:
        quote_id:
          type: string
        amount:
          type: number
        currency:
          type: string
        exchange_rate:
          type: number
        expires_at:
          type: string
          format: date-time
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
