openapi: 3.2.0
info:
  title: dLocal For Platforms Bank Accounts API
  version: '2.0'
  description: 'The dLocal for Platforms (marketplace) API onboards and manages

    sub-merchant accounts, performs KYC, manages bank accounts, settles

    transfers between accounts, and reports balances. Used by

    marketplaces and platforms that hold funds on behalf of sub-users.

    '
servers:
- url: https://marketplace-api.dlocal.com
  description: Production
- url: https://marketplace-api.dlocal-sbox.com
  description: Sandbox
security:
- bearerAuth: []
tags:
- name: BankAccounts
  description: Manage bank accounts attached to sub-merchant accounts.
paths:
  /v2/accounts/{account_id}/bank-accounts:
    post:
      tags:
      - BankAccounts
      operationId: addBankAccount
      summary: Add Bank Account
      parameters:
      - $ref: '#/components/parameters/AccountId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        '201':
          description: Bank account added
    get:
      tags:
      - BankAccounts
      operationId: getBankAccountList
      summary: Get Bank Account List
      parameters:
      - $ref: '#/components/parameters/AccountId'
      responses:
        '200':
          description: List returned
  /v2/accounts/{account_id}/bank-accounts/{bank_account_id}:
    get:
      tags:
      - BankAccounts
      operationId: getBankAccount
      summary: Get A Bank Account
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - name: bank_account_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Bank account returned
    delete:
      tags:
      - BankAccounts
      operationId: disableBankAccount
      summary: Disable A Bank Account
      parameters:
      - $ref: '#/components/parameters/AccountId'
      - name: bank_account_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '204':
          description: Bank account disabled
components:
  parameters:
    AccountId:
      name: account_id
      in: path
      required: true
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
